{
  "presets": ["@babel/env", "@babel/react", "@babel/typescript"],
  "plugins": [
    ["transform-class-properties"],
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
